<div class="home-container" fxLayout="row" fxLayout.xs="column">
  <div class="landing-page-text"><app-landing-page></app-landing-page></div>
  <div class="signin-card-container">
<mat-card class="signin-card">
      <mat-card-header>
        <mat-card-title *ngIf="router.url==='/signin'">PLANTSHUB - SIGN IN</mat-card-title>
        <mat-card-title *ngIf="router.url==='/signup'">PLANTSHUB - SIGN UP</mat-card-title>
      </mat-card-header>
  <div  *ngIf="router.url==='/signin'" class="signin-card-img"><img src="assets/6606.jpg"/></div>
  <div  *ngIf="router.url==='/signup'" class="signin-card-img"><img src="assets/5236.jpg"/></div>

  <mat-card-content>
    <ng-container *ngIf="router.url === '/signin' else elseBlock">
    <form (ngSubmit)="onLogin()" [formGroup]="loginForm" class="measure center">
          <div *ngIf="error" class="invalid-feedback">
            Username / Email or Password is wrong!
          </div>
          <div>
            <mat-form-field>
              <mat-label>E-Mail or Username</mat-label>
              <input [ngClass]="{ 'is-invalid': submitted && form.username.errors }" formControlName="username" id="email-address" matInput
                     name="email-address" placeholder="max@gmail.com"
                     type="text">
            </mat-form-field>
            <div *ngIf="submitted && form.username.errors" class="invalid-feedback">
              <div *ngIf="form.username.errors.required">Username is required</div>
            </div>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Password</mat-label>
              <input [ngClass]="{ 'is-invalid': submitted && form.password.errors }" formControlName="password"
                     id="password" matInput
                     name="password" placeholder="Password"
                     type="password">
            </mat-form-field>
            <div *ngIf="submitted && form.password.errors" class="invalid-feedback">
              <div *ngIf="form.password.errors.required">Password is required</div>
            </div>
          </div>
          <div class="signin-card-forgot-password">
            <a href="#0">Forgot Password?</a>
          </div>
        <div class="signin-card-buttons">
          <button class="signin-card-buttons-signin" [disabled]="loading" mat-raised-button>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Sign In
          </button>
          <button class="signin-card-buttons-register" mat-raised-button routerLink="/signup">Sign Up</button>
        </div>

      </form>
    </ng-container>

    <ng-template #elseBlock>
      <app-sign-up></app-sign-up>
    </ng-template>

    <div class="signin-card-links">
      <a *ngFor="let link of links" href="{{link.link}}" target="_blank">{{link.name}}</a>
    </div>
      </mat-card-content>

    </mat-card>
</div>
</div>
