<form class="plantformfield-container" fxLayout="column" fxFlex.xs="100%" [formGroup]="plantsDialogForm">

  <h2>{{plantsDialogForm.value | json}}</h2>
  <ng-container *ngFor="let formField of plantFormFields" >
  <mat-form-field appearance="standard">
      <mat-label>{{formField.title}}</mat-label>
      <input matInput type="text" [(ngModel)]="newPlant[formField.name]" [formControlName]="formField.name" [value]="plantsDialogForm.value.defaultValue">
      <button mat-button *ngIf="newPlant[formField.name]" matSuffix mat-icon-button aria-label="Clear"
              (click)="newPlant[formField.name]=[formField.defaultValue]">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
    <br>
  </ng-container>

  <mat-form-field appearance="standard">
    <!-- Birthday -->
    <mat-label>Birthday of the Plant</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="newPlant.plantBirthday">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
   <input type="file" (change)="onFileSelected($event)">
  <div class="plants-dialog__button-menu">
    <button mat-flat-button class="plants-dialog__button-menu--cancel-button" [mat-dialog-close]="true">Cancel</button>
    <ng-container>
    <ng-template *ngIf="isUpdatingDialogue; else addPlantBlock">
      <button mat-flat-button class="plants-dialog__button-menu--update-button"
              [mat-dialog-close]="true" type="submit">Update Plant</button>
    </ng-template>
    <ng-template #addPlantBlock>
      <button mat-flat-button class="plants-dialog__button-menu--add-button"
              [mat-dialog-close]="true" type="submit" (click)="addPlant()">Add Plant
      </button>
    </ng-template>
    </ng-container>
  </div>
</form>
