.plant-dialog__title-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.plants-dialog__button-menu {
  display: flex;
  justify-content: space-evenly;
}

.plants-dialog__button-menu--cancel-button {
  background-color: #d63031;
  color: white;
}

.plants-dialog__button-menu--add-button, .plants-dialog__button-menu--update-button {
  background-color: #00b894;
  color: white;
}
