.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

mat-card {
  padding: 0;

  img {
    height: 10vw;
  }
}

mat-card-header {
  padding: 1em 0 0 0;
}


.fill-red {
  fill: red;
}

.no-red {
  color: black;
}

.plant-card-toggle {
  position: fixed;
  right: 2em;
  bottom: 2em;
}
