.plants-card-container {
  display: flex;
  flex-wrap: wrap;
}

.item {
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.fill-red {
  fill: red;
}

.no-red {
  color: black;
}

.plants-card-card {
  width: 20vw;
}
