@import "../styles";



.app-header {
  background-color: $teal-primary;
  position: sticky;
  display: flex;
}
.container {
  height: 100vh;
}

.nav-container {
  background-color: white;
  height: 100vh;
}
