.app-header {
  background-color: #00b894;
  display: flex;
}
.container {
  height: 100vh;
  overflow: visible;
}

.nav-container {
  background-color: white;
  height: 100vh;
  overflow: visible;
}
