<div class="plant-diary-dialog-content">

<div class="plant-diary-header-img">
  <img src="https://images.pexels.com/photos/2302503/pexels-photo-2302503.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260">
</div>
  <div class="plant-diary-dialog-content-header" >
  <div class="plant-diary-plant-title-container">
  <h1 class="plant-diary-plant-title">{{data.person.name}} </h1>
  <span class="plant-diary-plant-subtitle">{{data.person.name}} </span>
  </div>
  <div>
    <mat-icon>favorite</mat-icon>
    <mat-icon>share</mat-icon>
  </div>
  </div>
  <div class="plant-diary-dialog-content-editable">

  </div>
  <div class="plant-diary-dialog-content-otherusers">
  <h1 class="plant-diary-plant-title">Other Users who have this plant</h1>
    <div class="plant-diary-dialog-content-otherusers-users">
      <img src="assets/user.svg">
      <img src="assets/user.svg">
      <img src="assets/user.svg">
    </div>
  </div>
  </div>
<div class="plant-diary-dialog-content-actions">
  <button  mat-button  [mat-dialog-close]="true">Cancel</button>
  <button  mat-button  [mat-dialog-close]="true">Save</button>
</div>
