<div class="home--maindiv" fxLayout="column wrap">
  <div class="container" *ngIf="user">
    <h1>Hi {{user.forename}}! <span class="waving-hand">👋</span>
    </h1>
  </div>
  <mat-card class="home--maindiv-todos__card">
    <h1>
      <span>🖍</span>
      Your ToDos for Today:</h1>
    <ng-container *ngFor="let todoListPoint of todoList">
      <mat-checkbox>{{todoListPoint}}</mat-checkbox>
    </ng-container>
  </mat-card>


  <mat-card class="home--maindiv-todos__card" routerLink="/plants">
    <h1><span>🌱</span>
      Visit Your Plants!
      <span style="justify-self: flex-end">▶️</span></h1>
  </mat-card>
</div>
