/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* VARIABLES */

// Fonts
@mixin sofia-pro-regular {
  font-family: sofia-pro, sans-serif!important;
  font-weight: 400;
  font-style: normal;
}

@mixin sofia-pro-regular-italic {
  font-family: sofia-pro, sans-serif;
  font-weight: 400;
  font-style: italic;
}

@mixin sofia-pro-bold {
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}
@mixin sofia-pro-bold-italic {
  font-family: sofia-pro, sans-serif;
  font-weight: 700;
  font-style: italic;
}
// !Fonts

// Colors
$white: #ffffff;
$red: #ff7675;

$grey-light: #fffff;
$grey-primary: #fafafa;
$grey-dark: #c7c7c7;

$teal-light: #439889;
$teal-primary: #00695c;
$teal-dark: #003d33;

$blue-light: #4fb3bf;
$blue-primary: #00838f;
$blue-dark: #005662;

//!Colors

/* !VARIABLES */

/* GLOBAL STYLES */

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: $grey-primary;
}

html, body { height: 100%; }

/* !GLOBAL STYLES */

/* MIXINS */

// Flex Properties

@mixin flexcenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

*:not(.material-icons) {
  @include sofia-pro-regular;
}
