<form class="measure center" [formGroup]="loginForm" (ngSubmit)="onRegister()">
          <div *ngIf="error" class="invalid-feedback">
            Username or Email is already being used!
          </div>
          <ng-container *ngFor="let field of fields">
            <mat-form-field class="signup-formfields">
            <mat-label for="{{field.id}}">{{field.name.toUpperCase().slice(0, 1) + field.name.slice(1)}}</mat-label>
            <input
              matInput
              formControlName="{{field.name}}"
              type="{{field.name === 'birthday' ? 'date' : field.name === 'password' ? 'password' : 'text'}}"
              name="{{field.name}}" id="{{field.id}}"
              [ngClass]="{ 'is-invalid': submitted && loginForm.invalid }">
            <div *ngIf="submitted && loginForm.invalid" class="invalid-feedback">
              <div *ngIf="loginForm.invalid">{{field.name}} is required</div>
            </div>
            </mat-form-field>
          </ng-container>
  <div class="signin-card-buttons">
    <button class="signin-card-buttons-signin" [disabled]="loading" mat-raised-button>
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Sign Up
    </button>
    <button class="signin-card-buttons-register" mat-raised-button routerLink="/signin">Sign In</button>
  </div>
</form>
