<form class="measure center" [formGroup]="loginForm" (ngSubmit)="onRegister()">
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
          <legend class="f4 fw6 ph0 mh0">Sign Up</legend>
          <div *ngIf="error" class="invalid-feedback">
            Username or Email is already being used!
          </div>
          <div class="mt3" *ngFor="let field of fields">
            <label class="db fw6 lh-copy f6"
                   for="{{field.id}}">{{field.name.toUpperCase().slice(0, 1) + field.name.slice(1)}}</label>
            <input
              class="pa2 input-reset ba bg-transparent hover-bg-dark-gray hover-white {{field.name === 'birthday' ? 'w-auto' : 'w-100'}} br3"
              formControlName="{{field.name}}"
              type="{{field.name === 'birthday' ? 'date' : field.name === 'password' ? 'password' : 'text'}}"
              name="{{field.name}}" id="{{field.id}}"
              [ngClass]="{ 'is-invalid': submitted && loginForm.invalid }">
            <div *ngIf="submitted && loginForm.invalid" class="invalid-feedback">
              <div *ngIf="loginForm.invalid">{{field.name}} is required</div>
            </div>
          </div>

          <div class="flex justify-between mt3">
            <button [disabled]="loading" class="input-reset f6 link dim br3 ph3 pv2 mb2 dib white bg-dark-blue">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Sign Up
            </button>
            <a routerLink="/signin" class="f6 link dim black db pa4-xs">Already have an account?</a>
          </div>
        </fieldset>
        <div class="lh-copy mt3 flex justify-center">
          <a href="https://blog.plantshub.de/" target="_blank" class="f6 link dim black db pa3 pa4-xs">Blog</a>
          <a href="https://github.com/qt1337/PlantsHub" target="_blank"
             class="f6 link dim black db pa3 pa4-xs">GitHub</a>
          <a href="#" class="f6 link dim black db pa3 pa4-xs">Impressum</a>
        </div>
</form>
